In [1]:
#Projekt prowadzony w trakcie kursu

In [2]:
import pandas as pd
import numpy as np

In [3]:
sprzedaz_2018 = pd.read_csv("../data/raw/sprzedaz_2018.csv", 
                           dtype = {
                               "id_drogerii" : np.uint8,
                               "sprzedaz" : np.uint16
                           })
sprzedaz_2019 = pd.read_csv("../data/raw/sprzedaz_2019.csv", 
                           dtype = {
                               "id_drogerii" : np.uint8,
                               "sprzedaz" : np.uint16
                           })
sprzedaz_2020 = pd.read_csv("../data/raw/sprzedaz_2020.csv", 
                           dtype = {
                               "id_drogerii" : np.uint8,
                               "sprzedaz" : np.uint16
                           })
sprzedaz_2021 = pd.read_csv("../data/raw/sprzedaz_2021.csv", 
                           dtype = {
                               "id_drogerii" : np.uint8,
                               "sprzedaz" : np.uint16
                           })
sprzedaz_2022 = pd.read_csv("../data/raw/sprzedaz_2022.csv", 
                           dtype = {
                               "id_drogerii" : np.uint8,
                               "sprzedaz" : np.uint16
                           })

In [4]:
sprzedaz_2018["data"] = pd.to_datetime(sprzedaz_2018["data"])
sprzedaz_2019["data"] = pd.to_datetime(sprzedaz_2019["data"])
sprzedaz_2020["data"] = pd.to_datetime(sprzedaz_2020["data"])
sprzedaz_2021["data"] = pd.to_datetime(sprzedaz_2021["data"])
sprzedaz_2022["data"] = pd.to_datetime(sprzedaz_2022["data"])

In [5]:
sklepy = pd.read_csv("../data/raw/sklepy.csv",
                    sep=";",
                    na_values="NaN",
                    dtype={"id_drogerii" : np.uint8
                          })

In [6]:
ceny_ropy = pd.read_csv("../data/raw/ceny_ropy.csv",
                       sep="|",
                       na_values="brak",
                       dtype={"cena" : np.float32
                             })

In [7]:
ceny_ropy["data"] = pd.to_datetime(ceny_ropy["data"], format="%d.%m.%Y")

In [8]:
ceny_ropy = ceny_ropy.fillna(method="ffill").fillna(method="bfill")

/var/folders/p6/06sxnct51flgxcz7_7f9k1vw0000gn/T/ipykernel_3687/576629245.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ceny_ropy = ceny_ropy.fillna(method="ffill").fillna(method="bfill")

In [9]:
sprzedaz_2018 = sprzedaz_2018[sprzedaz_2018.nazwa_produktu == "Produkt A"]

In [10]:
# sprzedaz_2018.query("nazwa_produktu == 'Produkt A'")

In [11]:
sprzedaz_2019 = sprzedaz_2019[sprzedaz_2019.nazwa_produktu == "Produkt A"]
sprzedaz_2020 = sprzedaz_2020[sprzedaz_2020.nazwa_produktu == "Produkt A"]
sprzedaz_2021 = sprzedaz_2021[sprzedaz_2021.nazwa_produktu == "Produkt A"]
sprzedaz_2022 = sprzedaz_2022[sprzedaz_2022.nazwa_produktu == "Produkt A"]

In [12]:
sprzedaz = pd.concat([sprzedaz_2018, sprzedaz_2019, sprzedaz_2020, sprzedaz_2021, sprzedaz_2022])

In [13]:
sprzedaz.drop(columns = "nazwa_produktu", inplace = True)

In [14]:
dane = pd.merge(sprzedaz, ceny_ropy, on = "data", how = "left")

In [15]:
dane.rename(columns = {"cena" : "cena_ropy"}, inplace = True)

In [16]:
dane = pd.merge(dane, sklepy, on = "id_drogerii")

In [17]:
dane["cena_ropy"] = dane.cena_ropy.fillna(method = "ffill")
dane.drop(columns="Unnamed: 4", inplace=True)

/var/folders/p6/06sxnct51flgxcz7_7f9k1vw0000gn/T/ipykernel_3687/845333062.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dane["cena_ropy"] = dane.cena_ropy.fillna(method = "ffill")

In [18]:
dane.to_parquet("dane.parquet")
dane

,data,id_drogerii,sprzedaz,cena_ropy,miasto,wojewodztwo,typ_drogerii
0,2018-01-02,1,0,93.139999,Warszawa,Mazowieckie,D
1,2018-01-02,10,0,93.139999,Warszawa,Mazowieckie,C
2,2018-01-02,11,0,93.139999,Radom,Mazowieckie,B
3,2018-01-02,12,0,93.139999,Lublin,Lubelskie,C
4,2018-01-02,13,0,93.139999,Lublin,Lubelskie,C
...,...,...,...,...,...,...,...
90931,2022-08-16,54,0,47.570000,Katowice,Śląskie,C
90932,2022-08-16,6,7,47.570000,Warszawa,Mazowieckie,D
90933,2022-08-16,7,5,47.570000,Warszawa,Mazowieckie,D
90934,2022-08-16,8,4,47.570000,Warszawa,Mazowieckie,D
90935,2022-08-16,9,15,47.570000,Warszawa,Mazowieckie,B