In [1]:
#Projekt prowadzony w trakcie kursu

In [2]:
import pandas as pd
import numpy as np

In [3]:
sprzedaz_2018 = pd.read_csv("../data/raw/sprzedaz_2018.csv", 
                           dtype = {
                               "id_drogerii" : np.uint8,
                               "sprzedaz" : np.uint16
                           })
sprzedaz_2019 = pd.read_csv("../data/raw/sprzedaz_2019.csv", 
                           dtype = {
                               "id_drogerii" : np.uint8,
                               "sprzedaz" : np.uint16
                           })
sprzedaz_2020 = pd.read_csv("../data/raw/sprzedaz_2020.csv", 
                           dtype = {
                               "id_drogerii" : np.uint8,
                               "sprzedaz" : np.uint16
                           })
sprzedaz_2021 = pd.read_csv("../data/raw/sprzedaz_2021.csv", 
                           dtype = {
                               "id_drogerii" : np.uint8,
                               "sprzedaz" : np.uint16
                           })
sprzedaz_2022 = pd.read_csv("../data/raw/sprzedaz_2022.csv", 
                           dtype = {
                               "id_drogerii" : np.uint8,
                               "sprzedaz" : np.uint16
                           })

In [4]:
sprzedaz_2018["data"] = pd.to_datetime(sprzedaz_2018["data"])
sprzedaz_2019["data"] = pd.to_datetime(sprzedaz_2019["data"])
sprzedaz_2020["data"] = pd.to_datetime(sprzedaz_2020["data"])
sprzedaz_2021["data"] = pd.to_datetime(sprzedaz_2021["data"])
sprzedaz_2022["data"] = pd.to_datetime(sprzedaz_2022["data"])

In [5]:
sklepy = pd.read_csv("../data/raw/sklepy.csv",
                    sep=";",
                    na_values="NaN",
                    dtype={"id_drogerii" : np.uint8
                          })

In [6]:
ceny_ropy = pd.read_csv("../data/raw/ceny_ropy.csv",
                       sep="|",
                       na_values="brak",
                       dtype={"cena" : np.float32
                             })

In [7]:
ceny_ropy["data"] = pd.to_datetime(ceny_ropy["data"], format="%d.%m.%Y")

In [8]:
ceny_ropy = ceny_ropy.fillna(method="ffill").fillna(method="bfill")

In [9]:
ceny_ropy

           data       cena
0    2018-01-02  93.139999
1    2018-01-03  93.139999
2    2018-01-04  92.970001
3    2018-01-05  93.120003
4    2018-01-08  93.199997
...         ...        ...
1213 2022-08-26  47.650002
1214 2022-08-29  46.400002
1215 2022-08-30  46.459999
1216 2022-08-31  45.959999
1217 2022-09-01  47.259998

[1218 rows x 2 columns]